@charset "utf-8";

@media screen and (max-width: 1800px) {
  body {
    width: 100vw;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 61.2%;
  }
}
@media screen and (max-width: 1730px) {
  body {
    width: 100vw;
  }
  .first-main .content .text {
    font-size: 1.3rem;
  }
  .section01 .inner .loading {
    width: 70rem;
    height: 35rem;
  }
  .section01 .inner .loading .box .loading-bar {
    height: 85px;
  }
  .section01 .inner .loading .box .loading-bar .span00 {
    height: 4rem;
  }
  .section01 .inner .loading .box .keepgoing {
    justify-content: center;
    line-height: 150rem;
  }
  .section01 .inner .loading .box .keepgoing p {
    font-size: 5rem;
  }
  .section01 .inner .loading .box .keepgoing .circle-box {
    padding-top: 1.5rem;
  }
  .section01 .inner .loading .box .keepgoing .circle-box span {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 1rem;
  }
  .section01 .inner .mouse {
    display: block;
    width: 4rem;
    position: absolute;
    animation: mouse 1.4s steps(2) infinite;
  }
  @keyframes mouse {
    0% {
      bottom: 20%;
      right: 20%;
    }
    100% {
      bottom: 40%;
      right: 34%;
    }
  }
  .section02 .inner .title span {
    margin-right: 4rem;
  }
  #tab-section .inner .title .left-title .left-animate-title {
    width: 52rem;
    font-size: 6rem;
    height: 8.5rem;
  }
  #tab-section
    .inner
    .title
    .left-title
    .left-animate-title
    .webredesign:nth-child(3) {
    margin-right: 3rem;
  }
  #tab-section .inner .title .right-title {
    font-size: 1rem;
    line-height: 2rem;
  }
  #tab-section .inner .item-box .item .image-wrap {
    height: 64.5%;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 57.2%;
  }
  #tab-section .inner .item-box .item .item-content {
    gap: 2.125rem;
  }
  #tab-section .inner .item-box .item .item-content h1 {
    padding-bottom: 2rem;
    font-size: 4.8rem;
  }
  #tab-section .inner .item-box .item .item-content .button .original {
    width: 8.0625rem;
    height: 3.6875rem;
    line-height: 3.6875rem;
    font-size: 1rem;
  }
  #tab-section .inner .item-box .item .item-content .button .moreview {
    width: 8.0625rem;
    height: 3.6875rem;
    line-height: 3.6875rem;
    font-size: 1rem;
  }
  .section05 .inner .item-box .etcSwiper .control .next .swiper-button-next {
    left: -10%;
  }
  .section05 .inner .item-box .etcSwiper .control .prev .swiper-button-prev {
    left: -10%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .swiper-wrapper
    .swiper-slide
    a
    .slide-img {
    border-radius: 1rem;
    object-fit: cover;
    bottom: 60%;
    height: 0%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .swiper-wrapper
    .swiper-slide-active
    a
    .slide-img {
    height: 70%;
  }
  .section05 .inner .item-box .etcSwiper .swiper-wrapper .swiper-slide {
    height: 56.3%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .swiper-wrapper
    .swiper-slide
    a
    .folder-front {
    bottom: 20%;
  }
}
@media screen and (max-width: 1650px) {
  body {
    width: 100vw;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 60.5%;
  }
}
@media screen and (max-width: 1600px) {
  body {
    width: 100vw;
  }
  .first-main .content .text {
    font-size: 1.2rem;
  }
  .first-main .content .title .small-title {
    font-size: 1.4rem;
  }
  #tab-section .inner .item-box .item .image-wrap {
    height: 65%;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 63.5%;
  }
}
@media screen and (max-width: 1496px) {
  body {
    width: 100vw;
  }
  html {
    font-size: 15px;
  }
  .first-main {
    padding-top: 10rem;
  }
  .first-main .content .title .big-title span {
    display: none;
  }
  .first-main .content .title .small-title {
    font-size: 1.3rem;
  }
  .first-main .content .text {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .section01 .inner .loading {
    width: 60rem;
    height: 30rem;
  }
  .section01 .inner .loading .box .loading-bar {
    height: 70px;
  }
  .section01 .inner .loading .box .loading-bar .span00 {
    height: 3rem;
  }
  .section01 .inner .loading .box .keepgoing {
    justify-content: center;
    line-height: 100rem;
  }
  .section01 .inner .loading .box .keepgoing p {
    font-size: 3rem;
  }
  .section01 .inner .loading .box .keepgoing .circle-box {
    padding-top: 1rem;
  }
  .section01 .inner .loading .box .keepgoing .circle-box span {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 1rem;
  }
  .section01 .inner .mouse {
    display: block;
    width: 3rem;
    position: absolute;
    animation: mouse 1.4s steps(2) infinite;
  }
  @keyframes mouse {
    0% {
      bottom: 12%;
      right: 27%;
    }
    100% {
      bottom: 30%;
      right: 35.5%;
    }
  }
  #tab-section .inner .title .left-title .left-animate-title {
    width: 48rem;
    font-size: 5.5rem;
    height: 8rem;
  }
  #tab-section
    .inner
    .title
    .left-title
    .left-animate-title
    .webredesign:nth-child(3) {
    margin-right: 3rem;
  }
  #tab-section .inner .title .right-title {
    font-size: 1rem;
    line-height: 2rem;
  }
  #tab-section .inner .item-box .item .image-wrap {
    height: 58%;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 61.2%;
  }
  #tab-section .inner .item-box .item .item-content {
    gap: 2.125rem;
  }
  #tab-section .inner .item-box .item .item-content h1 {
    padding-bottom: 0;
  }
  #tab-section .inner .item-box .item .item-content .button .original {
    width: 8.0625rem;
    height: 3.6875rem;
    line-height: 3.6875rem;
    font-size: 1rem;
  }
  #tab-section .inner .item-box .item .item-content .button .moreview {
    width: 8.0625rem;
    height: 3.6875rem;
    line-height: 3.6875rem;
    font-size: 1rem;
  }
  .section05 .inner .item-box .bar .address-box {
    height: 2rem;
  }
  .section05 .inner .item-box .etcSwiper .control .next .swiper-button-next {
    left: -20%;
  }
  .section05 .inner .item-box .etcSwiper .control .prev .swiper-button-prev {
    left: -20%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .swiper-wrapper
    .swiper-slide
    a
    .slide-img {
    border-radius: 1rem;
    object-fit: cover;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .swiper-wrapper
    .swiper-slide-active
    a
    .slide-img {
    border-radius: 1rem;
    object-fit: cover;
    height: 62%;
  }
  .section05 .inner .item-box .etcSwiper .swiper-wrapper .swiper-slide {
    height: 56.3%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .swiper-wrapper
    .swiper-slide
    a
    .folder-front {
    bottom: 40%;
  }
  .contact .inner {
    padding: 3rem 25rem;
  }
  .contact .inner .mouse {
    width: 3rem;
  }
  .contact .inner .contact-box .box {
    padding: 2rem;
  }
  .contact .inner .contact-box .box form .form-group input {
    padding: 1rem;
  }
  .contact .inner .contact-box .box form .form-group textarea {
    height: 8rem;
  }
  #footer {
    height: 115vh;
  }
}
@media screen and (max-width: 1400px) {
  body {
    width: 100vw;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 66.2%;
  }
}
@media screen and (max-width: 1320px) {
  body {
    width: 100vw;
  }
  html {
    font-size: 14px;
  }
  .first-main {
    padding-top: 10rem;
  }
  .first-main .content .title .big-title span {
    display: none;
  }
  .first-main .content .title .small-title {
    font-size: 1.2rem;
  }
  .first-main .content .text {
    font-size: 1rem;
    line-height: 2rem;
  }
  .section01 .inner {
    height: 100vh;
  }
  .section01 .inner .mouse {
    display: block;
    width: 3rem;
    position: absolute;
    animation: mouse 1.4s steps(2) infinite;
  }
  @keyframes mouse {
    0% {
      bottom: 30%;
      right: 20%;
    }
    100% {
      bottom: 45%;
      right: 25.5%;
    }
  }
  #tab-section .inner .title .left-title .left-animate-title {
    font-size: 5rem;
  }
  #tab-section
    .inner
    .title
    .left-title
    .left-animate-title
    .webredesign:nth-child(3) {
    margin-right: 2rem;
  }
  #tab-section .inner .title .right-title {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
  #tab-section .inner .item-box .item {
    height: 55vh;
  }
  #tab-section .inner .item-box .item .image-wrap {
    height: 74%;
  }
  .section05 .inner .item-box .bar .address-box {
    height: 2.5rem;
  }
  .section05 .inner .item-box .etcSwiper .control .next .swiper-button-next {
    left: -35%;
  }
  .section05 .inner .item-box .etcSwiper .control .prev .swiper-button-prev {
    left: -35%;
  }
  .section05 .inner .item-box .etcSwiper .swiper-wrapper .swiper-slide {
    height: 40%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .swiper-wrapper
    .swiper-slide
    a
    .folder-front {
    bottom: 25%;
  }
  #footer {
    height: 100vh;
  }
}
@media screen and (max-width: 1230px) {
  body {
    width: 100vw;
  }
  #header .inner .right {
    /* gap: 30rem; */
    width: 100%;
    position: relative;
  }
  #header .inner .right .menu {
    display: none;
  }
  #header .inner .right .menu-hamburger {
    display: block;
    /* order: 2; */
    position: absolute;
    left: 38%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem; */
  }
  .hamburger-popup {
    display: block;
    display: none;
  }
  #header .inner .right .darkBtn {
    /* order: 3; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
  }
  .section01 .inner .mouse {
    display: block;
    width: 3rem;
    position: absolute;
    animation: mouse 1.4s steps(2) infinite;
  }
  @keyframes mouse {
    0% {
      bottom: 30%;
      right: 20%;
    }
    100% {
      bottom: 60%;
      right: 25.5%;
    }
  }
  #tab-section .inner .title .left-title .left-animate-title {
    font-size: 4.8rem;
  }
  #tab-section
    .inner
    .title
    .left-title
    .left-animate-title
    .webredesign:nth-child(3) {
    margin-right: 1.5rem;
  }
  #tab-section
    .inner
    .title
    .left-title
    .left-animate-title
    .clonecoding:nth-child(5) {
    margin-right: 1.5rem;
  }
  #tab-section
    .inner
    .title
    .left-title
    .left-animate-title
    .designproject:nth-child(6) {
    margin-right: 1.5rem;
  }
  #tab-section
    .inner
    .title
    .left-title
    .left-animate-title
    .etcdesign:nth-child(3) {
    margin-right: 1.5rem;
  }
  #tab-section .inner .title .right-title {
    font-size: 0.7rem;
    line-height: 1.8rem;
  }
  #tab-section .inner .item-box .item {
    height: 55vh;
  }
  #tab-section .inner .item-box .item .image-wrap {
    height: 68%;
  }
}
@media screen and (max-width: 1120px) {
  body {
    width: 100vw;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 70.5%;
  }
}
@media screen and (max-width: 1060px) {
  body {
    width: 100vw;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 75.5%;
  }
}
@media screen and (max-width: 980px) {
  body {
    width: 100vw;
  }
  html {
    font-size: 13px;
  }
  /* #header .inner .right {
    gap: 24rem;
  } */
  .hamburger-popup .popup-inner {
    padding: 10rem;
  }
  .first-main {
    padding: 0 3rem;
  }
  .section01 .inner {
    padding: 0 3rem;
    height: 70vh;
  }
  .section01 .inner .loading {
    width: 50rem;
    height: 27rem;
  }
  .section01 .inner .loading .box .loading-bar {
    height: 50px;
  }
  .section01 .inner .loading .box .loading-bar .span00 {
    height: 2rem;
  }
  .section01 .inner .loading .box .keepgoing {
    justify-content: center;
    line-height: 10rem;
  }
  .section01 .inner .loading .box .keepgoing p {
    font-size: 2rem;
  }
  .section01 .inner .loading .box .loading-bar {
    gap: 0.2rem;
  }
  .section01 .inner .loading .box .loading-bar .span00 {
    height: 3rem;
  }
  .section01 .inner .mouse {
    display: block;
    width: 2.5rem;
    position: absolute;
    animation: mouse 1.4s steps(2) infinite;
  }
  @keyframes mouse {
    0% {
      bottom: 40%;
      right: 20%;
    }
    100% {
      bottom: 60%;
      right: 30.5%;
    }
  }
  #tab-section {
    margin-top: 2rem;
  }
  #tab-section .inner {
    padding: 0 3rem;
  }
  #tab-section .inner .item-box .item {
    width: 93%;
    gap: 4rem;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 71.5% !important;
  }
  #tab-section .inner .item-box .item .item-content h1 {
    font-size: 4rem;
  }
  #tab-section .inner .item-box .item .item-content p {
    font-size: 1rem;
  }
  .section05 .inner .item-box {
    height: 63vh !important;
  }
  .section05 .inner .item-box .etcSwiper .control .prev {
    width: 2.7%;
  }
  .section05 .inner .item-box .etcSwiper .control .next {
    width: 2.7%;
  }
  .section05 .inner .item-box .etcSwiper .control .swiper-scrollbar {
    height: 101%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .control
    .swiper-scrollbar
    .swiper-scrollbar-drag {
    top: 0.312rem;
    left: 1.23rem;
  }
  .section05 .inner .item-box .etcSwiper .control .next .swiper-button-next {
    left: -5%;
  }
  .section05 .inner .item-box .etcSwiper .control .prev .swiper-button-prev {
    left: -5%;
  }
  .contact .inner {
    padding: 3rem 10rem;
  }
  #footer {
    height: 100vh;
  }
  #footer .inner {
    padding: 10rem;
  }
}
@media screen and (max-width: 774px) {
  body {
    width: 100vw;
  }
  html {
    font-size: 12px;
  }
  #header .inner {
    padding: 0 4.5rem;
  }
  /* #header .inner .right {
    gap: 23rem;
  } */
  .hamburger-popup .popup-inner {
    padding: 15rem 5rem;
  }
  #header .inner .right .darkBtn .toggleSwitch {
    padding: 0.1rem 0.12rem;
  }
  .first-main {
    padding: 8rem 3rem 0;
  }
  .first-main .content .title .big-title {
    font-size: 6rem;
  }
  .first-main .content .text {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .section01 .inner .loading {
    width: 42rem;
    height: 27.5rem;
  }
  .section01 .inner .loading .bar {
    gap: 11px;
  }
  .section01 .inner .loading .box .keepgoing {
    padding: 0;
    margin: 0 auto;
  }
  .section01 .inner .loading .box .keepgoing p {
    font-size: 2.5rem;
  }
  .section01 .inner .loading .box .loading-bar {
    height: 35px;
    border-radius: 0.7rem;
  }
  .section01 .inner .loading .box .loading-bar .span00 {
    height: 2rem;
    border-radius: 0.4rem;
  }
  #tab-section .inner .title .left-title .left-animate-title {
    font-size: 3.9rem;
  }
  #tab-section .inner .item-box .item {
    height: 35vh;
  }
  #tab-section .inner .item-box .item .item-content h1 {
    font-size: 3rem;
  }
  #tab-section .inner .item-box .item .item-content p {
    font-size: 0.9rem;
  }
  #tab-section .inner .item-box .item .item-content .button .original {
    width: 7rem;
    height: 3rem;
    line-height: 3rem;
  }
  #tab-section .inner .item-box .item .item-content .button .moreview {
    width: 7rem;
    height: 3rem;
    line-height: 3rem;
  }
  #tab-section .inner .item-box .item .image-wrap .bar {
    border-radius: 0.8rem 0.8rem 0 0;
  }
  #tab-section .inner .item-box .item .image-wrap .bar span {
    width: 0.7rem;
    height: 0.7rem;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 56% !important;
  }
  #tab-section .inner .title span {
    margin-right: 2rem;
  }
  .section02 .inner .title .left-title {
    width: 61%;
  }
  .section03 .inner .title .left-title {
    width: 58%;
  }
  .section04 .inner .title .left-title {
    width: 63%;
  }
  .section05 .inner .title .left-title {
    width: 47%;
  }
  .section05 .inner .item-box {
    height: 40vh !important;
  }
  .section05 .inner .item-box .bar {
    height: 7%;
  }
  .section05 .inner .item-box .bar .address-box {
    height: 1.5rem;
  }
  .section05 .inner .item-box .bar .address-box em {
    line-height: 0;
  }
  .section05 .inner .item-box .bar .circle-icon .circle1 {
    width: 1rem; height: 1rem;
  }
  .section05 .inner .item-box .bar .circle-icon .circle2 {
    width: 1rem; height: 1rem;
  }
  .section05 .inner .item-box .bar .circle-icon .circle3 {
    width: 1rem; height: 1rem;
  }
  .section05 .inner .item-box .etcSwiper .control .prev {
    width: 2.4%;
  }
  .section05 .inner .item-box .etcSwiper .control .prev .swiper-button-prev {
    left: -34%;
  }
  .section05 .inner .item-box .etcSwiper .control .next {
    width: 2.4%;
  }
  .section05 .inner .item-box .etcSwiper .control .next .swiper-button-next {
    left: -34%;
  }
  .section05 .inner .item-box .etcSwiper .control .swiper-scrollbar {
    height: 102%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .control
    .swiper-scrollbar
    .swiper-scrollbar-drag {
    top: 0.35rem;
    left: 1.23rem;
    width: 300px !important;
  }
  #footer {
    height: 106vh;
  }
  #footer .inner {
    height: 58% !important;
  }
  #footer .inner .animate-typing {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: 100vw;
  }
  html {
    font-size: 10px;
  }
  #header .inner {
    padding: 0 2rem;
  }
  /* #header .inner .right {
    gap: 18rem;
  } */
  .hamburger-popup .popup-inner {
    padding: 15rem 0;
  }
  .hamburger-popup .popup-inner ul li a {
    width: 50%;
  }
  .first-main .content .title {
    padding: 0;
  }
  .section01 .inner .loading {
    width: 32rem;
    height: 20rem;
    border-radius: 1rem;
  }
  .section01 .inner .loading .bar {
    gap: 8px;
    padding: 0 1.2rem;
  }
  .section01 .inner .loading .bar span {
    width: 0.9rem;
    height: 0.9rem;
  }
  .section01 .inner .loading .box {
    padding: 15px;
    padding-top: 35px;
  }
  .section01 .inner .loading .box .loading-bar {
    height: 25px;
    border-radius: 0.5rem;
  }
  .section01 .inner .loading .box .loading-bar .span00 {
    border-radius: 0.3rem;
    height: 1.7rem;
  }
  .section01 .inner .loading .box .keepgoing {
    line-height: 3rem;
    width: 100%;
  }
  .section01 .inner .folder-group {
    gap: 2.125rem;
  }
  .section01 .inner .folder-group a img {
    width: 4.23rem;
  }
  #tab-section .inner .title .left-title {
    width: 60%;
  }
  #tab-section .inner .title .left-title .left-animate-title {
    font-size: 2.9rem;
    padding-top: 1.5rem;
  }
  #tab-section .inner .title span {
    margin-right: 0;
  }
  #tab-section .inner .title .right-title {
    font-size: 0.6rem;
    line-height: 1.4rem;
  }
  #tab-section .inner .item-nav li {
    width: 8.75rem;
    height: 1.9rem;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  #tab-section .inner .item-nav li a {
    font-size: 1.2rem;
  }
  #tab-section .inner .item-box .item {
    flex-direction: column;
    height: 40%;
  }
  #tab-section .inner .item-box .item .item-content {
    width: 90%;
    gap: 1rem;
  }
  #tab-section .inner .item-box .item .item-content h1 {
    text-align: center;
    border-bottom: 0;
  }
  #tab-section .inner .item-box .item .item-content p {
    text-align: center;
  }
  #tab-section .inner .item-box .item .item-content .button {
    margin: 0 auto;
  }
  .section05 .inner .item-box .etcSwiper .swiper-wrapper .swiper-slide a .slide-img {
    height: 0;
    bottom: 80%;
  }
  .section05 .inner .item-box .etcSwiper .swiper-wrapper .swiper-slide-active a .slide-img {
    border-radius: 0.5rem;
    height: 36%;
    width: 90%;
    bottom: 86%;
  }
  .section05 .inner .item-box .etcSwiper .swiper-wrapper .swiper-slide a .folder-front {
    bottom: 65%;
  }
  .section05 .inner .item-box .etcSwiper .control .prev {
    width: 4.4%;
  }
  .section05 .inner .item-box .etcSwiper .control .next {
    width: 3.9%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .control
    .swiper-scrollbar
    .swiper-scrollbar-drag {
    top: 0.35rem;
    left: 1.23rem;
    width: 100px !important;
  }

  #footer {
    height: 83vh;
  }
  #footer .inner {
    padding: 5rem;
  }
  #footer .inner .animate-typing {
    font-size: 4rem;
  }
}
@media screen and (max-width: 360px) {
  body {
    width: 100vw;
  }
  html {
    font-size: 8px;
  }
  #header .inner {
    padding: 0 1.5rem;
  }
  /* #header .inner .right {
    gap: 17rem;
  } */
  .hamburger-popup .popup-inner {
    padding: 15rem 0;
  }
  .hamburger-popup .popup-inner ul li a {
    width: 50%;
  }s
  #header .inner .right .darkBtn .toggleSwitch {
    border: 1px solid #333;
  }
  .first-main {
    padding: 0 2rem;
  }
  .first-main .content .text {
    width: 35%;
  }
  .section01 .inner {
    padding: 0 1rem;
    height: 50vh;
  }
  
  .section01 .inner .loading {
    width: 28rem;
  }
  .section01 .inner .loading .box {
    padding-top: 49px;
  }
  .section01 .inner .loading .box .keepgoing p {
    font-size: 2rem;
  }
  .section01 .inner .mouse {
    display: block;
    width: 3rem;
    position: absolute;
    animation: mouse 1.4s steps(2) infinite;
  }
  @keyframes mouse {
    0% {
      bottom: 70%;
      right: 20%;
    }
    100% {
      bottom: 78%;
      right: 34%;
    }
  }
  .section02 .inner .title .left-title {
    width: 55% !important;
  }
  .section03 .inner .title .left-title {
    width: 53% !important;
  }
  .section04 .inner .title .left-title {
    width: 58% !important;
  }
  .section05 .inner .title .left-title {
    width: 47% !important;
  }
  #tab-section .inner .title .left-title .left-animate-title {
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  #tab-section .inner .title .right-title {
    font-size: 0.5rem;
  }
  #tab-section .inner .item-box .item {
    height: 39%;
    width: 87%;
  }
  #tab-section .inner .item-box .item .image-wrap {
    height: 30%;
    border-radius: 0.5rem;
  }
  #tab-section .inner .item-box .item .image-wrap > a .image-box {
    padding-top: 57% !important;
  }
  #tab-section .inner .item-box .item .image-wrap .bar {
    gap: 0.5rem;
    padding: 0 0.7rem;
    height: 13%;
  }
  #tab-section .inner .item-box .item .image-wrap .bar span {
    width: 0.5rem; height: 0.5rem;
  }
  .section05 .inner .item-box {
    height: 25vh !important;
    border-radius: 0.7rem;
  }
  .section05 .inner .item-box .etcSwiper .swiper-wrapper .swiper-slide {
    margin-right: 58px !important;
  }
  .section05 .inner .item-box .bar {
    padding: 0 1rem;
    height: 9%;
  }
  .section05 .inner .item-box .bar .line-icon {
    gap: 1rem
    ;
  }
  .section05 .inner .item-box .bar .line-icon img {
    width: 0.8rem; height: 0.8rem;
  }
  .section05 .inner .item-box .bar .line-icon img:last-child {
    width: 0.85rem; height: 0.85rem;
  }
  .section05 .inner .item-box .bar .address-box {
    height: 1.2rem;
  }
  .section05 .inner .item-box .bar .circle-icon {
    gap: 0.8rem;
  }
  .section05 .inner .item-box .bar .circle-icon .circle1 {
    width: 0.8rem; height: 0.8rem;
  }
  .section05 .inner .item-box .bar .circle-icon .circle2 {
    width: 0.8rem; height: 0.8rem;
  }
  .section05 .inner .item-box .bar .circle-icon .circle3 {
    width: 0.8rem; height: 0.8rem;
  }
  .section05 .inner .item-box .etcSwiper .control .prev {
    width: 2.8%;
  }
  .section05 .inner .item-box .etcSwiper .control .prev .swiper-button-prev {
    left: -136%;
  }
  .section05 .inner .item-box .etcSwiper .control .next {
    width: 2.9%;
  }
  .section05 .inner .item-box .etcSwiper .control .next .swiper-button-next {
    left: -105%;
  }
  .section05
    .inner
    .item-box
    .etcSwiper
    .control
    .swiper-scrollbar {
      height: 110%;
    }
  .section05
    .inner
    .item-box
    .etcSwiper
    .control
    .swiper-scrollbar
    .swiper-scrollbar-drag {
    top: 0.5rem;
    left: 0.8rem;
    width: 100px !important;
  }
  .contact .inner {
    padding: 3rem;
  }
}
